body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.phone {
  width: 100%;
  max-width: 375px;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffecc4;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 10px;
  font-size: 48px;
  color: red;
}

h2 {
  color: red;
  font-size: 18px;
  margin-bottom: 30px;
}

h3 {
  color: red;
}

button {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0b5ed7;
}

.recommendations {
  margin-top: 25px;
}

.recommendation-card {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.recommendation-card h4 {
  margin-bottom: 10px;
  color: #000;
}

.meal-details {
  margin-top: 12px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.filter-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-controls select {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}
